# Xcode
/*.xcodeproj/project.xcworkspace
/*.xcodeproj/**/xcuserdata
/*.xcworkspace/**/xcuserdata
/*.playground/**/xcuserdata

# AppCode
/.idea/*.iml
/.idea/modules.xml
/.idea/tasks.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/dataSources
/.idea/dataSources.ids
/.idea/dataSources.local.xml
/.idea/dictionaries
/.idea/runConfigurations

# SPM
/.build
